.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

.main1{
    height: 300px;
    padding-left: 30px;

    border: 2px solid red;
    width: 250px ;
    border-radius: 10px;
}

.btn{
    padding-left: 70px;
    padding-top: 30px;

}

.btn1{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 12px;
    border: none;
}